@media (max-width: 1180px) {
  .table {
    gap: 20px 30px;
  }
  .table__image {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .menu__btn {
    display: flex;
  }

  .menu__btn,
  .logo {
    position: relative;
    z-index: 10;
  }

  .menu__list {
    position: absolute;
    background-color: #151515;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    z-index: 5;
    height: 100vh;
    padding-top: 200px;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .menu__list.menu__list--active {
    transform: translate(0%);
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .table {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1040px) {
  .video__iframe {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .video__iframe {
    height: 400px;
  }

  .top__title {
    font-size: 70px;
  }

  .top__link {
    padding: 16px;
    font-size: 28px;
    max-width: 360px;
  }

  .swiper-pagination-bullet {
    width: 60px;
  }

  .swiper-pagination-bullet-active {
    height: 4px;
  }
}

@media (max-width: 540px) {
  .top__title {
    font-size: 60px;
  }

  .top__link {
    font-size: 24px;
    max-width: 310px;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }

  .swiper-pagination-bullet {
    width: 35px;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .info {
    margin: 50px auto 50px;
  }

  .section-title {
    font-size: 34px;
  }

  .rules-info {
    margin: 20px auto 30px;
  }

  .rules-info__text {
    padding-top: 15px;
  }

  .rules-info__item {
    display: block;
    text-align: center;
  }

  .video__iframe {
    height: 200px;
  }

  .rules-info__image {
    width: 50px;
    height: 50px;
  }

  .table {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .app {
    flex-direction: column;
    align-items: center;
  }

  .copy__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
